.logo {
  width: 40px;
  margin-right: 10px;
}

.thumbnail-product {
  height: 150px !important;
  max-width: 150px !important;
}

.precio-real{
  text-decoration: line-through;
}

.precio-oferta{
  color: darkblue;
}

#fotoFicha{
  width: 200px;
  max-height: 200px;
}

.contornoFicha{
  border: 2px solid black;
  padding: 10px;
  margin: 100px;
}

#spanFicha{
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  font-weight: bold;
}